#container{
    /* display: grid;
    grid-template-columns: repeat(90,10px);
    grid-gap: 1px;
    position: relative;
    border: 2px solid black;
    align-items:baseline; */
    text-align: center;
    /* margin-top: 10vh; */
    margin-top: 150px;
    /* border: 1px solid black; */
}
button{
    background-color: white;
    border-radius: 2vw;
    width: 5vw;
    outline: none;
    border:1px solid rgb(64, 192, 231);
    cursor: pointer;
}
#time{
    text-align: center;
}
#controller{
    text-align: center;
}
body{
    position: relative;
    border: 1px solid white;
}
#banner1{
    position: absolute;
    left: 222px;
    top: 107px;
}
#banner2{
    position: absolute;
    left: 472px;
    top: 50px;
}

#banner4{
    position: absolute;
    right: 203px;
    top: 0;
}
#banner5{
    position: absolute;
    right: 334px;
    top: 50px;   
}
#banner3{
    position: absolute;
    right: 442px;
    top: 120px;   
}
/* .bars{
    background-color: #b295e9;
    max-height: 100px;
    cursor: pointer;
} */